/* ===========================================================================
==== VARIABLES
============================================================================== */
/* FONTS
------------------------------------------------------------------------------ */
/* COLORS
------------------------------------------------------------------------------ */
/* ===========================================================================
==== GLOBAL ELEMENTS
============================================================================== */
body {
  font: 100%/1.62 sans-serif;
}

aside {
  font-family: "Permanent Marker", cursive;
  font-size: 2em;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.gridlock > .row {
  margin-top: 4em;
}

/* ===========================================================================
==== HOME PAGE
============================================================================== */
.home img {
  display: block;
  margin: 0 auto;
}

/* ===========================================================================
==== MEDIA QUERIES
=========================================================================== */
/* VERY LARGE SCREENS (DESKTOP AND BIGGER)
------------------------------------------------------------------------------ */
/* LARGE SCREENS (DESKTOP/LAPTOP)
----------------------------------------------------------------------------*/
/* IPAD SPECIFICALLY
------------------------------------------------------------------------------ */
/* TABLETS
------------------------------------------------------------------------------ */
/* MEDIUM SCREENS (LARGE PHONES)
----------------------------------------------------------------------------*/
/* SMALL SCREENS (SMALL PHONES)
----------------------------------------------------------------------------*/
