/* ===========================================================================
==== GLOBAL ELEMENTS
============================================================================== */
body {
	background: url('images/nice_snow.png') top left;
	font: $base-font;
	color: $base-color;
	margin: 3em 0;
}
a {
	transition: all .33s;
}
ul, ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
h1, h2, h3 {
	line-height: 1;
	margin-top: 0;
}
h1 {
	font-family: $heading;
	color: $h1;
}