/* ===========================================================================
==== GLOBAL ELEMENTS
============================================================================== */
body {
	font: $base-font;
}
ul, ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.gridlock > .row {
	margin-top: 4em;
}

/* ===========================================================================
==== NAVIGATION
============================================================================== */
nav {
	font-family: $nav;
	font-size: 2em;

	a {
		color: #000;
	}
}