/* ===========================================================================
==== VARIABLES
============================================================================== */

/* FONTS
------------------------------------------------------------------------------ */
$base-font: 125%/1.33 'Cantarell', Helvetica, Arial, sans-serif;
$nav: 'Permanent Marker', cursive;
$heading: 'Permanent Marker', cursive;

/* COLORS
------------------------------------------------------------------------------ */
$base-color: #222;
$h1: #950116;
$link: #E00222;